/* General */

html {
    font-size: 1rem;
}
@import url(http://fonts.googleapis.com/css?family=Muli);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    /* height: 100vh;
    width: 100vw; */
}

/* Logo */
#header .logo { /* Selects all elements with name2 that is a descendant of an element with name1 */
    font-family: 'Muli', sans-serif;
    color:white; 
    font-weight: bold;
    font-style: italic;
    letter-spacing: -3.5vh;
    font-size: 11vh;
    /* letter-spacing:  -2.0vh; 
    
    font-size: 11vh; */
}
#header .logo #gas-text {
    color: #E8664A;
}
#header .logo #money-text {
    color: #6FAC43;
}
#header .logo #calc-text {
    color: #1F86B5;
}

/* Header */
#header {
    padding:10px 100px;
    /* font-size: 3rem; */
    color:#0000;
    overflow:auto;
    
    display: block;
    border-bottom: 1vh lightgrey solid;
}

/* Form */
.form-title {
    font-size: 1.25rem;
}
.form-group {
    padding: 1rem;
}
.form-control {
    margin: 0;
    font-size: 1rem;
}
.btn-primary {
    border-radius: 5px;
    background-color: #1F86B5;
}
.or {
    color: #6FAC43;;
    padding: 0;
    vertical-align: middle;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
}
.mpg-label {
    font-size: 5vh;
}
.custom-select {
    font-size: 3vh;
}
.final-calc-container {
    /* background: black; */
    width: 33%; 
    height: 25vh;
}
/* #finalCalc {
    /* margin: auto;
    border-radius: 50%;
    /* width: 100%;
    height: 25vh; 
    padding-bottom: 100%;
    font-size: 16vh;
    vertical-align: center;
    */
#finalCalc {
    float: right;
    color: white;
    background: #A3CD44;
    border: 0.2rem #6FAC43 solid;
}
#finalCalc:hover {
    color: white;
    background: #6FAC43;
    border: 0.25rem A3CD44 solid;
}